.container-main {
  position: relative;
  background-color: #000000cf;
  height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.container-main h1{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #de083a;
  /* background-color: black; */
  /* border-radius: 5px; */
}
.container-main h1:hover{
  background-color: #ffffff;
  color: black;
  /* color: rgb(242, 248, 255); */
}
.main-main {
  border: 0px;
  box-shadow: 0px 0px 3px 0.5px #c4e0e5;
  border-radius: 10px;
  max-width: 300px;
  /* background-color: red; */
}

@media (min-width: 800px) {
  .main-main {
    max-width: 400px;
  }
}



@media (max-width: 600px) {
  .main-main {
    width: 100%;
    height: 100%;
  }
}
