

@media (max-width:760px){
    .aside,.asideN{
      display: none;
    }
    main{
      flex-basis: 100%;
      width: 100%;
      // background-color: red;
      margin: 0;
    }
     
    
  }

  